<!-- Smart Insight Card -->
<div>
  <div class="z-10 relative">
    <p class="text-on-primary/70 font-bold text-[10px] uppercase tracking-widest mb-2">Smart Insights</p>
    <h2 class="text-3xl font-extrabold font-headline mb-4 max-w">Tu nivel de desperdicio está al 3%. ¡Super bien!  </h2>
  </div>
  <div class="absolute -right-10 -bottom-10 w-64 h-64 bg-white/10 rounded-full blur-3xl"></div>
  <div class="absolute -left-10 -top-10 w-48 h-48 bg-secondary-container/10 rounded-full blur-2xl"></div>
</div>
