<div id="inventory" class="section">
  <div style="display:flex;vertical-align: center; align-items: center;flex-wrap:wrap;">
    <div style="display:flex;vertical-align: center;align-items: center;">
      <h2>Inventory</h2>
      <button mat-button>Add</button>
    </div>
    <div style="margin-left: auto;">
      <app-food-waste-display></app-food-waste-display>
    </div>
  </div>
  <div style="display:flex; flex-wrap:wrap;">
    <div>
      <app-search-box></app-search-box>
    </div>
    <div style="margin-left: auto;">
      <app-house-selector></app-house-selector>
    </div>
  </div>
  <div id="inventory-list">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>
</div>
