<mat-card class="inventory-item" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Product #1</mat-card-title>
    <mat-card-subtitle>Expired</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <br/>
    5 Units
    <br/>
    <span>
      Purchased on May 5th
    </span>
    <br/>
    <span>
      Expired on April 5th
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CONSUME</button>
    <button mat-button>DISCARD</button>
    <button mat-button>EDIT</button>
  </mat-card-actions>
</mat-card>
